<a href="https://colab.research.google.com/github/YogeshPandey29/Projects/blob/master/Predicting_whether_a_person_is_diabetic_under_Binary_Classification_using_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this mini-project, we have tried to implement a binary classification model using a datset. This dataset consists of the physical records of several number of patients; using which we are required to predict whether these would be suffering from diabetes.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
diabetes_data = pd.read_csv("DiabetesDatasetForLogisticRegression.csv")
diabetes_data.head(10)

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         1       89        66       23       94  28.1     0.167   21      neg
1         0      137        40       35      168  43.1     2.288   33      pos
2         3       78        50       32       88  31.0     0.248   26      pos
3         2      197        70       45      543  30.5     0.158   53      pos
4         1      189        60       23      846  30.1     0.398   59      pos
5         5      166        72       19      175  25.8     0.587   51      pos
6         0      118        84       47      230  45.8     0.551   31      pos
7         1      103        30       38       83  43.3     0.183   33      neg
8         1      115        70       30       96  34.6     0.529   32      pos
9         3      126        88       41      235  39.3     0.704   27      neg

In [6]:
diabetes_data['diabetes'] = diabetes_data['diabetes'].map({"neg":0, "pos":1})
diabetes_data.head(10)

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age  diabetes
0         1       89        66       23       94  28.1     0.167   21         0
1         0      137        40       35      168  43.1     2.288   33         1
2         3       78        50       32       88  31.0     0.248   26         1
3         2      197        70       45      543  30.5     0.158   53         1
4         1      189        60       23      846  30.1     0.398   59         1
5         5      166        72       19      175  25.8     0.587   51         1
6         0      118        84       47      230  45.8     0.551   31         1
7         1      103        30       38       83  43.3     0.183   33         0
8         1      115        70       30       96  34.6     0.529   32         1
9         3      126        88       41      235  39.3     0.704   27         0

In [7]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    int64
 2   pressure  392 non-null    int64
 3   triceps   392 non-null    int64
 4   insulin   392 non-null    int64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 27.7 KB

In [9]:
diabetes_data.describe()

         pregnant     glucose    pressure  ...    pedigree         age    diabetes
count  392.000000  392.000000  392.000000  ...  392.000000  392.000000  392.000000
mean     3.301020  122.627551   70.663265  ...    0.523046   30.864796    0.331633
std      3.211424   30.860781   12.496092  ...    0.345488   10.200777    0.471401
min      0.000000   56.000000   24.000000  ...    0.085000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.269750   23.000000    0.000000
50%      2.000000  119.000000   70.000000  ...    0.449500   27.000000    0.000000
75%      5.000000  143.000000   78.000000  ...    0.687000   36.000000    1.000000
max     17.000000  198.000000  110.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [11]:
X = diabetes_data.iloc[:, 0:8]
X

     pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age
0           1       89        66       23       94  28.1     0.167   21
1           0      137        40       35      168  43.1     2.288   33
2           3       78        50       32       88  31.0     0.248   26
3           2      197        70       45      543  30.5     0.158   53
4           1      189        60       23      846  30.1     0.398   59
..        ...      ...       ...      ...      ...   ...       ...  ...
387         0      181        88       44      510  43.3     0.222   26
388         1      128        88       39      110  36.5     1.057   37
389         2       88        58       26       16  28.4     0.766   22
390        10      101        76       48      180  32.9     0.171   63
391         5      121        72       23      112  26.2     0.245   30

[392 rows x 8 columns]

In [13]:
y = diabetes_data.iloc[:, -1]
y

0      0
1      1
2      1
3      1
4      1
      ..
387    1
388    1
389    0
390    0
391    0
Name: diabetes, Length: 392, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
print(X_train, y_train)
print(X_test, y_test)

     pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age
198         3      100        68       23       81  31.6     0.949   28
140         0      107        62       30       74  36.6     0.757   25
295         0      121        66       30      165  34.3     0.203   33
153         2      124        68       28      205  32.9     0.875   30
118         2      146        76       35      194  38.2     0.329   29
..        ...      ...       ...      ...      ...   ...       ...  ...
228         0      104        64       37       64  33.6     0.510   22
44          1      122        90       51      220  49.7     0.325   31
326         1      100        74       12       46  19.5     0.149   28
62          3      170        64       37      225  34.5     0.356   30
185         0       84        64       22       66  35.8     0.545   21

[313 rows x 8 columns] 198    0
140    1
295    1
153    1
118    0
      ..
228    1
44     1
326    0
62     1
185    0
Name: diabetes, Length: 313, dtype: int64
     pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age
203         3       96        56       34      115  24.7     0.944   39
261         0      139        62       17      210  22.1     0.207   21
363         2       93        64       32      160  38.0     0.674   23
73          1      153        82       42      485  40.6     0.687   23
9           3      126        88       41      235  39.3     0.704   27
..        ...      ...       ...      ...      ...   ...       ...  ...
125         3      191        68       15      130  30.9     0.299   34
366         0      134        58       20      291  26.4     0.352   21
45          1       81        72       18       40  26.6     0.283   24
88          8      181        68       36      495  30.1     0.615   60
75          1      109        56       21      135  25.2     0.833   23

[79 rows x 8 columns] 203    0
261    0
363    1
73     0
9      0
      ..
125    0
366    0
45     0
88     1
75     0
Name: diabetes, Length: 79, dtype: int64

In [23]:
from sklearn.linear_model import LogisticRegression
logisticModel = LogisticRegression(max_iter = 200)    #I have increased the number of iterations to 200 (i.e. max_iter = 200). The default value of which is set to 100.
logisticModel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
print(logisticModel.coef_)

[[ 0.11418141  0.04037655  0.00552196 -0.00375552 -0.00138633  0.08622038
   1.2865652   0.02416715]]

In [25]:
print(logisticModel.intercept_)

[-10.55331303]

In [26]:
predictions = logisticModel.predict(X_test)
predictions

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0])

Now, to measure the accuracy of the predictions made by our model, we use confusion matrix to get an overview of how much correct predictions our model made as compared to incorrect ones. Here, we have obtained a 2*2 order matrix as we are implementing a binary classification problem.
The elements present in the priciple diagonal of this matrix represent the correct predictions made by our model whereas the off-diagonal elements denote the incorrect ones.

In [31]:
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, predictions)
print(confusionMatrix)

[[50  8]
 [ 5 16]]

From the results obtained above, we can see that the number of correct predictions made are (50 + 16), and those of the incorrect predictions are (8 + 5).